# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
pids
logs
node_modules
coverage/
run
dist
.nyc_output
config.local.js
.idea/
.cache
yarn.lock
es
lib
.eslintcache
.history
.now

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

#tslint report
/ngx-tslint-report

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/connect.lock
/coverage
/libpeerconnection.log
/typings

# System Files
Thumbs.db
*.lock
.vs/

debug.log
/.next
package-lock.json
