/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/cells.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.cells_content__LZNy8 {
  display: flex;
  justify-content: space-between;
}

.cells_cell__c_VrU {
  width: 15px;
  height: 50px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  transition: all 0.2s ease-out;
}

.cells_hover__Qq6Co {
  background: #acc8da;
}

.cells_active__LD_SH {
  background: #5ea4ce;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/components/schedule.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.schedule_wrapper__s2eyQ {
  position: relative;
}

.schedule_zoom__1mAVp {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border: 1px dashed #eee;
  background-color: #aaa;
  opacity: 0.6;
}

.schedule_content__SrmIw {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_table__71QjM {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_table__71QjM li {
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
}

.page_tableRow__ONhyR {
  display: flex;
}

.page_tableRow__ONhyR > li > h3 {
  height: 30px;
  line-height: 30px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  border-left: 1px solid #eee;
}

.page_tableRow__ONhyR > li > ul {
  padding: 0;
  display: flex;
}

.page_tableRow__ONhyR > li > ul > li {
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.page_tableRow__ONhyR > li {
  border-left: none;
}

.page_tableRow__ONhyR > li:nth-child(1) {
  height: 50px;
  line-height: 50px;
  width: 90px;
  text-align: center;
  border-left: 1px solid #eee;
}

.page_tableRow__ONhyR > li:last-child {
  border-right: 1px solid #eee;
}

.page_tableCol__xNtOX {
  width: 90px;
  padding: 0;
  border-bottom: 1px solid #eee;
}

.page_tableCol__xNtOX > li {
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.page_bottom__eBpyv {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.page_date__i6_IY {
  width: 50%;
  margin: auto;
}

